.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  overflow: hidden;
  position: relative;
}

.circle {
  background-color: black;
  transition: width 0.5s, height 0.5s, borderRadius 0.5s;
}

.start-text,
.level-done {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: #ffffff;
}

.level-done {
  bottom: 50%;
}

.next-level {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.level-display {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #333;
}
